@import "tailwindcss";

body {
  background: #f5f5f5;
  color: #171717;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 6px;
}